/* Per i corsi */

#lez_singole {
    
    min-height: 550px;
    float: left;
    clear: left;
    padding-left: 5%;
    width: 45%;
}

#lez_duo {
    
    min-height: 550px;
    float: right;
    clear: right;
    padding-left: 10%;
    width: 40%;
}