/* Per gli eventi */

@font-face {

	font-family: 'Bradley Hand ITC';
  	src: url(res/BRADHI.ttf);
}

@font-face {

	font-family: 'Freestyle Script';
	src: url(res/freestyle-script.ttf);
}

#slideshow {

	float: left;
	clear: left;
	width: 50%;
	margin-top: 40px;
	box-shadow: 10px 10px 5px grey;
	background-image: url(res/paper.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
}

/*button.arrow {

	position: absolute;
	bottom: 150px;
	visibility: hidden;
	width: 30px;
	height: 30px;
	background-color: rgba(255, 255, 255, 0.5);
	opacity: 0.6;
	color: grey;
}

#leftarrow {

	left: 0;
}

#rightarrow {

	right: 0;
}*/

a.eventlink {

	outline: 0;
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
	display: none;
}

img.eventimg {

	width: 80%;
	height: 250px;
	margin-left: 10%;
	margin-right: 10%;
	float: left;
	clear: both;
	margin-bottom: 20px;
}

img.eventimg:hover {


}

h2.eventtitle {

	font-family: 'Bradley Hand ITC';
	font-size: 28pt;
	color: #003954;
	text-align: center;
	width: 100%;
	float: left;
	clear: both;
	margin: 0;
	outline: 0;
	padding-top: 15px;
	padding-bottom: 0;
	margin-bottom: -10px;
}

h3.eventdate {

	font-family: 'Bradley Hand ITC';
	font-size: 15pt;
	color: black;
	text-align: right;
	width: 90%;
	padding-right: 10%;
	padding-bottom: 5px;
	float: left;
	clear: both;
}

div.eventindex {

	min-width: 90%;
	overflow: auto;
	padding-left: 10%;
	height: 60px;
}

div.indexgkey {

	width: 8%;
	height: 100%;

	background-size: 100% 100%;
}

div.indexbody {

	min-width: 92%;
	height: 100%;

	/*background-image: url(); pentagramma di righe vuoto */
	background-size: auto 100%;
	background-repeat: repeat-x;
}