* {

	margin: 0;
	padding: 0;
}

@font-face {

	font-family: 'Bradley Hand ITC';
  	src: url(res/BRADHI.ttf);
}

@font-face {

	font-family: 'Freestyle Script';
	src: url(res/freestyle-script.ttf);
}

body {

	
}

#cover {
    
    margin: 0;
	padding: 0;
	min-width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #ECECEC;
	z-index: -10;
	position: absolute;
}

#header {

	float: left;
	clear: both;
	width: 100%;
	height: 400px;
	background-image: url('res/Sfondo nuvolosissimo.png');
	background-size: 100% 100%;
	position: relative;
	z-index: -2;
	border-bottom: 5px solid rgba(6, 41, 59, 0.6);
}

#logolink {

	width: 23%;
	margin-top: 50px;
	margin-left: 5%;
	margin-right: 3%;
	padding: 3px;
	float: left;
	clear: left;
	
	box-shadow: 10px 10px 5px grey;
	-webkit-box-shadow: 10px 10px 5px grey;
	-moz-box-shadow: 10px 10px 5px grey;
	
	outline: 0;
	/*border-left: 5px solid #06293b;*/
	background-color: white;

	-moz-transition: -moz-transform 1s, opacity 1s linear;
	-webkit-transition: -webkit-transform 1s, opacity 1s linear;
	transition: transform 1s, opacity 1s linear;
	z-index: 0;
}

#logo {

	width: 100%;
	height: auto;
}

#logolink:hover {

	-moz-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	transform: scale(1.05);

	opacity: 0.8;
}

#menu {

	display: inline-block;
	width: 100%;
	left: 0;
	top: 20px;
	padding-left: 35%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: -1;
	position: absolute;
	
	transition: top 0.3s, padding-left 0.3s, background-color 0.3s;
	-webkit-transition: top 0.3s, padding-left 0.3s, background-color 0.3s;
	-moz-transition: top 0.3s, padding-left 0.3s, background-color 0.3s;
}

#menu li {

	display: block;
	float: left;
	min-width: 100px;
	min-height: 50px;
	border-radius: 1em;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 10px;
	margin-right: 10px;

	transition: background-color 0.5s, margin 0.5s, opacity 1s;
	-webkit-transition: background-color 0.5s, margin 0.5s, opacity 1s;
	-moz-transition: background-color 0.5s, margin 0.5s, opacity 1s;
}

ul li.up {

	/*margin-bottom: 100px;
	margin-top: 0;*/
}

ul li.down {

	/*margin-top: 100px;
	margin-bottom: 0;*/
}

#menu li:hover {

	background-color: #6666ff;
	opacity: 0.9;
}

a.link:link , a.link:visited {

	text-align: center;
	font-size: 18pt;
	width: 100%;
	font-style: italic;
	text-decoration: none;
	font-family: "Bradley Hand ITC";
	font-weight: bold;
	border: none;
	outline: 0;

    color: #000033;
	padding-left: 40px;
	background-image: url(res/nota.png);
	
	background-repeat:no-repeat;
	background-size: contain; 
	background-position: left top;
	background-color: none;
	
	transition-property: color, padding-left, background-image, font-size;
	transition-timing-function: linear, linear, ease, linear;
	transition-duration: 1s, 0.5s, 1s, 0.5s;

	-webkit-transition-property: color, padding-left, background-image, font-size;
	-webkit-transition-timing-function: linear, linear, ease, linear;
	-webkit-transition-duration: 1s, 0.5s, 1s, 0.5s;

	-moz-transition-property: color, padding-left, font-size;
	-moz-transition-timing-function: linear;
	-moz-transition-duration: 1s, 0.5s, 0.5s;
}

a.link:hover, a.link:focus, a.link:active {

	color: #FFFFFF;
	padding-left: 60px;
	background-image: url(res/doppia-nota.png);
}

#container {

	float: left;
	clear: both;
	width: 90%;
	min-height: 50px;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 30px;
	padding-bottom: 30px;
	/*background: #e3a43e;
	background: linear-gradient(#e3a43e 70%, rgba(0, 0, 0, 0) 100%);
	background: -webkit-linear-gradient(#e3a43e 70%, rgba(0, 0, 0, 0) 100%);
	background: -o-linear-gradient(#e3a43e 70%, rgba(0, 0, 0, 0) 100%);
	background: -moz-linear-gradient(#e3a43e 70%, rgba(0, 0, 0, 0) 100%);*/
	
	background: #ABCEF2;
	background: linear-gradient(#3E7DBC, #ABCEF2 60%, rgba(0, 0, 0, 0) 100%);
	background: -webkit-linear-gradient(#3E7DBC, #ABCEF2 60%, rgba(0, 0, 0, 0) 100%);
	background: -o-linear-gradient(#3E7DBC, #ABCEF2 60%, rgba(0, 0, 0, 0) 100%);
	background: -moz-linear-gradient(#3E7DBC, #ABCEF2 60%, rgba(0, 0, 0, 0) 100%);
}

#description {

	float: right;
	clear: right;
	width: 30%;
	max-width: 50%;
	background-color: #FFFFFF;
	overflow-x: hidden;
	overflow-y: auto;
	box-shadow: 10px 10px 5px grey;
	min-height: 400px;
	background-image: url(res/paper.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;

	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 5%;
	padding-right: 5%;
}

#slideshow {

	float: left;
	clear: left;
	width: 50%;
	margin-top: 40px;
	box-shadow: 10px 10px 5px grey;
	background-image: url(res/paper.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
}

button.arrow {

	position: absolute;
	bottom: 150px;
	visibility: hidden;
	width: 30px;
	height: 30px;
	background-color: rgba(255, 255, 255, 0.5);
	opacity: 0.6;
	color: grey;
}

#leftarrow {

	left: 0;
}

#rightarrow {

	right: 0;
}

#content {

	float: left;
	clear: both;
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 30px;
	padding-bottom: 30px;
}

#titolo {

	float: left;
	clear: both;
	max-width: 90%;
	padding-left: 10%;
	/*background-image: url(icona-titolo.png);*/
	font-size: 45pt;
	font-family: 'Freestyle Script';
	font-weight: bold;
	font-style: italic;
	color: #000033;
}

#copyright {

	float: left;
	clear: both;
	color: #606060;
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid #b89d5c;
	text-align: center;
	font-size: 12pt;
	font-family: 'Freestyle Script';
}

/* Per gli eventi */

a.eventlink {

	outline: 0;
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
	/*padding-bottom: 20px;*/
	display: none;
}

img.eventimg {

	width: 100%;
	height: 300px;
	float: left;
	clear: both;
	margin-bottom: 10px;
}

img.eventimg:hover {


}

h2.eventtitle {

	font-family: 'Freestyle Script';
	font-size: 28pt;
	color: #003954;
	text-align: center;
	width: 100%;
	float: left;
	clear: both;
	margin: 0;
	outline: 0;
	padding-top: 15px;
	padding-bottom: 0;
	margin-bottom: -10px;
}

h3.eventdate {

	font-family: 'Freestyle Script';
	font-size: 15pt;
	color: black;
	text-align: right;
	width: 90%;
	padding-right: 10%;
	padding-bottom: 5px;
	float: left;
	clear: both;
}

/* Per la homepage */

#poesia {

    margin-top: 20px;
	font-size: 19pt;
	color: #0D0D5F;
}

a.squarelink {
    
    outline: 0;
    background-color: rgba(255, 255, 255, 0.4);
    clear: both;
    border-radius: 1em;
    text-decoration: none;
    
    box-shadow: 10px 10px 5px grey;
    -webkit-box-shadow: 10px 10px 5px grey;
    -moz-box-shadow: 10px 10px 5px grey;
    
    padding: 15px;
    margin-bottom: 15px;
}

h2.squaretitle {
    
    font-family: "Freestyle Script";
    font-size: 23pt;
    font-weight: bold;
    font-style: italic;
    float: left;
    clear: both;
    width: 100%;
    color: #606060;
    text-align: center;
}

img.squareimg {
    
    width: 90%;
    height: 150px;
    padding-left: 5%;
    padding-right: 5%;
    float: left;
    clear: both;
}

p.squaredesc {
    
    width: 90%;
    padding-left: 10%;
    font-family: "Bradley Hand ITC";
    font-size: 14pt;
    font-style: none;
    font-variant: none;
    color: black;
    text-align: left;
    padding-top: 15px;
}

#squarelascuola {
    
    float: right;
    width: 50%;
    margin-right: 50px;
}

#squarecorsi {
    
    float: left;
    width: 50%;
    margin-left: 50px;
}

/* per lascuola */

#lascuolaimg {
    
    float: right;
    clear: right;
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    height: auto;
    
    box-shadow: 10px 10px 5px grey;
    -webkit-box-shadow: 10px 10px 5px grey;
    -moz-box-shadow: 10px 10px 5px grey;
    
    margin-bottom: 15px;
}

/* Per i contatti */

#mappa {

	float: left;
	clear: left;
	width: 50%;
	margin-top: 40px;
	box-shadow: 10px 10px 5px grey;
	min-height: 200px;
	background-color: #ECECEC;
}

#facebook {
    
    width: 60px;
    height: 60px;
    background-image: url(res/facebook-logo.png);
    background-repeat: none;
    background-size: contain;
    float: left;
    margin-left: 30px;
    margin-top: 10px;
}

/* Per i corsi */

#lez_singole {
    
    min-height: 550px;
}

#lez_duo {
    
    min-height: 550px;
}

/* Per l'iscrizione */

#formulario {
    
    float: left;
	clear: left;
	width: 50%;
	margin-top: 40px;
	
	box-shadow: 10px 10px 5px grey;
    -webkit-box-shadow: 10px 10px 5px grey;
    -moz-box-shadow: 10px 10px 5px grey;
}

/* sezioni dinamiche */

div.sezione {

	width: 100%;
	float: left;
	clear: both;
	padding-top: 10px;
	padding-bottom: 10px;
}

div.sezione.grigio {

    background-color: #E0E0E0;
	background-image: url(res/paper.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

div.sezione.azzurro {

	background-color: #CCE5FF;
}

div.sezione.bi-colonna {

    column-count: 2;
	-webkit-column-count: 2;
    -moz-column-count: 2;

    column-gap: 50px;
    -webkit-column-gap: 50px;
    -moz-column-gap: 50px;

    /*column-rule: 1px solid #b89d5c;
    -webkit-column-rule: 1px solid #b89d5c;
    -moz-column-rule: 1px solid #b89d5c;*/

    column-width: 47%;
    -webkit-column-width: 47%;
    -moz-column-width: 47%;
}

div.sezione.tri-colonna {

    column-count: 3;
	-webkit-column-count: 3;
    -moz-column-count: 3;

    column-gap: 50px;
    -webkit-column-gap: 50px;
    -moz-column-gap: 50px;
    
    column-rule: 1px solid #b89d5c;
    -webkit-column-rule: 1px solid #b89d5c;
    -moz-column-rule: 1px solid #b89d5c;

    column-width: 30%;
    -webkit-column-width: 30%;
    -moz-column-width: 30%;
}

div.sezione.ombreggiato {
    
    box-shadow: 10px 10px 5px grey;
    -webkit-box-shadow: 10px 10px 5px grey;
    -moz-box-shadow: 10px 10px 5px grey;
    
    margin-bottom: 15px;
}

a.riferimento {
    
    font-family: 'Bradley Hand ITC';
    font-size: 16pt;
    font-weight: bold;
    color: darkblue;
}

p.testo {

	font-family: 'Bradley Hand ITC';
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
	font-weight: bold;
	float: left;
	clear: both;
	margin-bottom: 20px;
	text-align: left;
	font-size: 16pt;
}

p.testo.corsivo {

	font-style: italic;
}

p.testo.centrato {

	padding-left: 0;
	width: 100%;
	text-align: center;
}

img.immagine {

	width: 100%;
	height: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

img.immagine.ombreggiato {
    
    box-shadow: 10px 10px 5px grey;
    -webkit-box-shadow: 10px 10px 5px grey;
    -moz-box-shadow: 10px 10px 5px grey;
    
    margin-bottom: 15px;
}

ul.lista {

	list-style-type: none;
	padding-left: 3%;
	font-family: 'Bradley Hand ITC';
	font-weight: bold;
	float: left;
	clear: both;
	font-size: 15pt;
	width: 90%;
	margin-bottom: 10px;
}

ul.lista li {

	margin-bottom: 20px;
	padding-left: 40px;
	background-image: url(res/nota.png);
	background-repeat:no-repeat;
	background-size: 20px 25px;
	background-position: left top;
}

h2.titolo_sezione {

	background: none;
	font-family: 'Freestyle Script';
	font-size: 25pt;
	width: 98%;
	font-weight: bold;
	padding-left: 2%;
	color: #404040;
	clear: both;
	margin-bottom: 20px;
}

h3.sottotitolo_sezione {

	background: none;
	font-family: 'Freestyle Script';
	font-size: 20pt;
	font-weight: bold;
	width: 90%;
	text-align: left;
	clear: both;
	padding-left: 10%;
	color: #000066;
	margin-bottom: 20px;
}

div.sezione.meta {

	width: 50%;
}

div.sezione.terzo {

	width: 33%;
}

div.sezione.quarto {

	width: 25%;
}

img.immagine.meta {

	width: 50%;
}

img.immagine.terzo {

	width: 33%;
}

img.immagine.quarto {

	width: 25%;
}