* {

	margin: 0;
	padding: 0;
}

@font-face {

	font-family: 'Bradley Hand ITC';
  	src: url(res/BRADHI.ttf);
}

@font-face {

	font-family: 'Freestyle Script';
	src: url(res/freestyle-script.ttf);
}

body {

	margin: 0;
	padding: 0;
	min-width: 100%;
	overflow: hidden;
}

#header {

	float: left;
	clear: both;
	width: 100%;
	min-height: 400px;
	background-image: url(res/header.png);
	background-size: 100% 100%;
}

#logolink {

	width: 25%;
	margin-top: 50px;
	margin-left: 7%;
	margin-right: 5%;
	padding: 3px;
	float: left;
	clear: left;
	box-shadow: 10px 10px 5px grey;
	outline: 0;
	background-color: white;
}

#logo {

	width: 100%;
	height: auto;
}

#logolink {

	-moz-transition: -moz-transform 3s, opacity 1s linear;
	-webkit-transition: -webkit-transform 3s, opacity 1s linear;
	transition: transform 3s, opacity 1s linear;
}

#logolink:hover {

	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);

	opacity: 0.8;
}

#menu {

	display: inline-block;
	max-width: 80%;
	margin-top: 180px;
}

#menu li {

	display: block;
	float: left;
	min-width: 100px;
	min-height: 50px;
	border-radius: 1em;
	padding: 10px;
	padding-top: 15px;

	transition: background-color 1s, opacity 2s;
	-webkit-transition: background-color 1s, opacity 2s;
	-moz-transition: background-color 1s, opacity 2s;
}

#menu li.up {

	margin-bottom: 100px;
	margin-top: 0;
}

#menu li.down {

	margin-top: 100px;
	margin-bottom: 0;
}

#menu li:hover {

	background-color: #3399FF;
	opacity: 0.7;
}

a.link:link , a.link:visited {

	text-align: center;
	font-size: 20pt;
	width: 100%;
	font-style: italic;
	text-decoration: none;
	font-family: "Bradley Hand ITC";
	font-weight: bold;
	color: #000033;
	padding-left: 40px;
	border: none;
	outline: 0;

	background-image: url(res/nota.png);
	background-repeat:no-repeat;
	background-size: contain; 
	background-position: left top;
	background-color: none;
	
	transition-property: color, padding-left, background-image;
	transition-timing-function: linear, linear, ease;
	transition-duration: 1s;

	-webkit-transition-property: color, padding-left, background-image;
	-webkit-transition-timing-function: linear, linear, ease;
	-webkit-transition-duration: 1s;

	-moz-transition-property: color, padding-left;
	-moz-transition-timing-function: linear;
	-moz-transition-duration: 1s;
}

a.link:hover, a.link:active {

	color: #FFFFFF;
	padding-left: 60px;
	background-image: url(res/doppia-nota.png);
}

#content {

	float: left;
	clear: both;
	width: 100%;
	min-height: 400px;
	background-color: #FFFFFF;
	overflow: auto;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 30px;
	padding-bottom: 30px;
}

div.destra {

	max-width: 47%;
	min-width: 47%;
	overflow: auto;
	float: right;
	clear: right;
}

div.sinistra {

	max-width: 47%;
	min-width: 47%;
	overflow: auto;
	float: left;
	clear: left;
}

p.testo, p.scritto {

	font-family: 'Bradley Hand ITC';
	width: 95%;
	padding-left: 5%;
	font-weight: bold;
	margin-bottom: 20px;
	text-align: left;
}

.a_destra {

	max-width: 45%;
	float: right;
	clear: right;
}

.a_sinistra {

	max-width: 45%;
	float: left;
	clear: left;
}

.centrato, .al_centro {

	float: left;
	margin-left: 25%;
	margin-right: 25%;
	max-width: 50%;
	width: 50%;
	clear: both;
}

p.scritto.centrato, p.scritto.al_centro, p.testo.centrato, p.testo.al_centro {

	padding-left: 0;
	width: 100%;
	text-align: center;
}

img.immagine {

	width: 100%;
	height: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

ul.lista {

	list-style-type: none;
	padding-left: 10%;
	font-family: 'Bradley Hand ITC';
	font-weight: bold;
	font-size: 16pt;
	max-width: 90%;
	min-width: 90%;
	margin-bottom: 10px;
}

ul.lista li {

	margin-bottom: 20px;
	background-image: url(res/nota.png);
	background-repeat:no-repeat;
	background-size: contain;
	background-position: left top;
}

h2.titolo_sezione {

	background: none;
	font-family: 'Bradley Hand ITC';
	font-size: 30pt;
	width: 98%;
	font-weight: bold;
	padding-left: 2%;
	color: #404040;
	clear: both;
	margin-bottom: 20px;
}

h3.sottotitolo_sezione {

	background: none;
	font-family: 'Bradley Hand ITC';
	font-size: 20pt;
	font-weight: bold;
	width: 90%;
	text-align: left;
	clear: both;
	padding-left: 10%;
	color: #000066;
	margin-bottom: 20px;
}